@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url("fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
header {
  box-shadow: 0px 3px 3px rgb(165, 164, 164);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 15px 0;
}
.container {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}
.logo {
  width: 150px;
  height: auto;
}

.centrale {
  padding: 30px;
  background-color: rgb(255, 255, 255, 0.5);
  width: 50%;
  margin: auto;
}
nav {
  width: 50%;
}
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
li a {
  padding: 10px 45px;
  border-right: 1px solid #1d401f;
  text-decoration: none;
  color: rgb(9, 37, 9);
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
li:last-child a {
  border-right: none;
}
li a:hover {
  border-bottom: 1px solid #7abf36;
  color: #7abf36;
}

main {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  color: #1d401f;
  margin-top: 200px;
  font-size: large;
  width: 70%;
  margin: auto;
  margin-top: 200px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.don {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.plante {
  height: 200px;
  width: 200px;
  overflow: hidden;
}
.image_de_plante {
  height: 200px;

  background-color: #7abf36;
}
.centre {
  background-color: white;
  height: 200px;
  width: 400px;
}
.bouton {
  line-height: 200px;
}

.don p {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  padding: 6px 20px;
}

button {
  font-size: 16px;
  background-color: #447322;
  color: white;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  border: 1px solid #447322;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
}
button:hover,
button:focus {
  color: #447322;
  background-color: white;
  border: 1px solid #447322;
  transition: 0.3s;
  outline: none;
}
